<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Titulo de la Pagina -->
    <title>Convertidor de Texto a Mano | Text to Handwriting Converter</title>
	
	<!-- Icono de la Pagina -->
	<link rel="icon" href="/resources/img/logo.png" sizes="192x192" type=" content="Convierte texto a escritura a mano y descárgalo como imagen o PDF. Soporte multipágina. | Convert text to handwriting and download as image or PDF. Multipage supported.">

	<!-- Metas -->
	<!-- Charset y viewport -->
	<meta name="codification" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes">
	
	<meta name="description" content="Text to Handwriting Converter and downloading them as image or PDF. Multipage is also supported. If you have a long text and want to convert multiple pages into handwriting and download it as a single PDF file, it is also available." />
    <meta name="author" content="Mauro Rivera" />
    <meta name="keywords" content="Convertidor texto a mano, Text to Handwriting, PDF, imagen, multipágina, Text to PDF, Text to image, ">
	
	<!-- Idioma -->
    <meta name="language" http-equiv="Content-Language" content="en">

	<!-- Cache -->
    <meta name="storage" http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta name="pragma" http-equiv="Pragma" content="no-cache" />
    <meta name="expires" http-equiv="Expires" content="0">
	
	 <!-- Open Graph (para redes sociales) -->
    <meta property="og:title" content="Convertidor de Texto a Mano">
    <meta property="og:description" content="Convierte texto a escritura a mano y descárgalo como imagen o PDF. Soporte multipágina.">
    <meta property="og:image" content="/resources/img/logo.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:locale:alternate" content="en_US">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Convertidor de Texto a Mano">
    <meta name="twitter:description" content="Convierte texto a escritura a mano y descárgalo como imagen o PDF.">
    <meta name="twitter:image" content="/resources/img/logo.png">
	
	<!-- Hojas de Estilos CSS -->
	<link rel="stylesheet" href="/resources/css/nano.min.css"/>
	<link rel="stylesheet" href="/resources/css/style.css" />
	<link rel="stylesheet" href="/resources/css/css_format_text.css" />
	<link rel="stylesheet" href="/resources/css/quill.snow.css" />
	
	<!-- Javascript Header / Al final del documento se cargan mas -->
	<script type="text/javascript" src="resources/libs/externos/jquery/jquery.js"></script>
	<script type="text/javascript" src="resources/libs/externos/quill/highlight.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/quill/quill.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/select2/select2.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/pickr/pickr.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/html2pdf/html2pdf.bundle.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/jspdf/jspdf.umd.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/html2canvas/html2canvas.js"></script>
</head>
<body>
	 <!-- Inicializacion del Modulo y Controlador del Sitio -->
	<div id="container-main" class="container" data-ng-app="sri" data-ng-controller="InicioControlador as inicioCtrl" data-ng-init="inicioCtrl.init()">
	<!-- Barra Header o Titulo -->
	<header id="headerTitle" class="headerTitle">
		<div class="headerTitleContainer">
			<img src="/resources/img/Logo2.png" alt="Text2Hand" width="200"/>
			
			<div class="language-dropdown" id="langDropdown">
				<button class="lang-toggle" id="langToggle">
					<img id="languajeSelected" src="resources/img/language/spain-circle.png" height="32" width="32" />
				</button>
				<div class="lang-options">
					<button data-ng-click="inicioCtrl.changeLanguageSpain()" title="Español">
						<img src="resources/img/language/spain-circle.png" height="32" width="32" />
					</button>
					<button data-ng-click="inicioCtrl.changeLanguageEnglish()" title="English">
						<img src="resources/img/language/english-circle.png" height="32" width="32" />
				</div>
			</div>

			<div class="headerMenu">
				<i class="bx bx-menu-alt-right" data-ng-click="inicioCtrl.openModal()"></i>
			</div>
		</div>
    </header>
		<div id="modal" data-ng-click="inicioCtrl.closeModal()">
			<div id="modal-content">
				<link rel="stylesheet" href="/resources/css/perfil.css" />
				<div class="card">
					<div class="image">
						<img src="resources/img/develop.png" height="100" width="100" />
					</div>
					<span class="name">Mauro Rivera</span>
					<span class="id">@mauro.r.fury</span>
					<div class="job">
						<span data-translate>{{inicioCtrl.lbl.lbl.developer}}</span>
					</div>
					<div class="Title">
						<span class="number">Text2Hand</span>
					</div>
					<div class="containerBody">
						<span class="description" data-translate>{{inicioCtrl.lbl.lbl.description}}</span>
						<br>
					</div>
				</div>
			</div>
		</div>
		<!-- Options Selects-->
		<div class=" kHMJen">
			<!-- Options Paper Typer-->
			<div class="gtHCSg">
				<div class="ciYtQM css-12buo25-control">
					<div class="css-1mkcnw2">
						<div class="css-1vurhgc-singleValue">
							<input accept="image/jpeg,.jpg,.jpeg,image/png,.png,image/svg+xml,.svg,image/webp,.webp,image/avif,.avif" type="file" tabindex="-1" id="file-upload" style="display: none;">
							<select id="selectPaper">
							</select>
						</div>
					</div>
					<span class="labelText" data-translate>{{inicioCtrl.lbl.lbl.papertyper}}</span>
				</div>
			</div>
			<!-- Options Fonts Family-->
			<div class="gtHCSg">
				<div class="ciYtQM css-12buo25-control">
					<div class="css-1mkcnw2">
						<div class="css-1vurhgc-singleValue">
							<select id="selectFonts">
							</select>
						</div>
					</div>
					<span class="labelText" data-translate>{{inicioCtrl.lbl.lbl.fontfamily}}</span>
				</div>
			</div>
		</div>
		<!-- Text Editor-->
		<div id="containerTextEditor" class="containerTextEditor">
			<div id="toolbar-container" style="background: #ffffff;" >
				<span class="ql-formats">
					<select class="ql-size">
					  <option value="11px">8</option>
					  <option value="12px">9</option>
					  <option value="13px">10</option>
					  <option value="15px">11</option>
					  <option value="16px">12</option>
					  <option value="19px">14</option>
					  <option value="21px">16</option>
					  <option value="24px">18</option>
					  <option value="27px">20</option>
					  <option value="29px">22</option>
					  <option value="32px">24</option>
					</select>
					<button class="ql-bold"></button>
					<button class="ql-italic"></button>
					<button class="ql-underline"></button>
					<select class="ql-align"></select>
					<button class="ql-list" value="ordered"></button>
					<button class="ql-list" value="bullet"></button>
					<button class="ql-indent" value="-1"></button>
					<button class="ql-indent" value="+1"></button>
					<button class="ql-script" value="sub"></button>
					<button class="ql-script" value="super"></button>
					<button class="ql-clean"></button>
					<button class="bx bx-brush-alt icon" id="clear-editor"></button>
					<button class="bx bxs-color-fill icon" id="color-picker" class="color-picker"></button>
					
				</span>
			</div>
			<div  id="result-wrapper" class="result-wrapper">
				<div class="paper">
					<div>
						<img id="imagePaperTest" width="100%" height="100%" />
					</div>
				</div>
				<div class="text-wrapper" dir="ltr">
					<div id="editorText">
					
					What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

Where can I get some?
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

5
	paragraphs
	words
	bytes
	lists
	Start with 'Lorem
ipsum dolor sit amet...'

Donate: If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated - click here to donate using PayPal. Thank you for your support. Donate bitcoin: 16UQLq1HZ3CNwhvgrarV6pMoA2CDjb4tyF
Translations: Can you help translate this site into a foreign language ? Please email us with details if you can help.
There is a set of mock banners available here in three colours and in a range of standard banner sizes:
BannersBannersBanners
NodeJS Python Interface GTK Lipsum Rails .NET
The standard Lorem Ipsum passage, used since the 1500s
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"

Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

1914 translation by H. Rackham
"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

Where can I get some?
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

5
	paragraphs
	words
	bytes
	lists
	Start with 'Lorem
ipsum dolor sit amet...'

Donate: If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated - click here to donate using PayPal. Thank you for your support. Donate bitcoin: 16UQLq1HZ3CNwhvgrarV6pMoA2CDjb4tyF
Translations: Can you help translate this site into a foreign language ? Please email us with details if you can help.
There is a set of mock banners available here in three colours and in a range of standard banner sizes:
BannersBannersBanners
NodeJS Python Interface GTK Lipsum Rails .NET
The standard Lorem Ipsum passage, used since the 1500s
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"

Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

1914 translation by H. Rackham
"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
					</div>
				</div>
			</div>
		</div>
		<!-- Buttons Export-->
		<div class="dAbSai">
			<div class="bbLVwL">
				<button type="button" id="btnDownloadImage" data-ng-model="inicioCtrl.btnDownloadImage" data-ng-click="inicioCtrl.descargarImagen()" class="jDMTOD primary disabled">
					<div id="select-option-button" class="select-button-content">
						<div class="select-button-text" data-translate>{{inicioCtrl.lbl.btn.downloadimage}}</div>
						<i class="bx bx-image"></i>
					</div>
				</button>
				<button type="button" id="btnDownloadPDF" data-ng-model="inicioCtrl.btnDownloadPDF" data-ng-click="inicioCtrl.descargarPDF()" class="jDMTOD primary disabled">
					<div id="select-option-button" class="select-button-content">
						<div class="select-button-text" data-translate>{{inicioCtrl.lbl.btn.downloadpdf}}</div>
						<i class="bx bx-file"></i>
					</div>
				</button>
			</div>
		</div>
	</div>
	<!-- Los scripts van al final del body para que no bloqueen la carga de la pagina -->
	<script type="text/javascript" src="resources/libs/externos/angular/angular.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-ui-router/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
	<script type="text/javascript" src="resources/libs/externos/oclazyload/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-translate/angular-translate.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
	<script type="text/javascript" src="resources/libs/externos/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

	<!-- Script del Sistema -->
	<script type="text/javascript" src="resources/js/modulo.js"></script>
	<script type="text/javascript" src="resources/js/InicioControlador.js"></script>
	<script type="text/javascript" src="resources/js/constantes/SistemaConstanteValue.js"></script>
	<script type="text/javascript" src="resources/js/factorys/InternacionalizacionFactory.js"></script>
    <script type="text/javascript" src="resources/js/servicios/InternacionalizacionServicio.js"></script>
</body>
</html>